.root:global(.__wab_instance) {
  position: relative;
  background: var(--token-aWpkhgHLd49s);
  display: flex;
  cursor: pointer;
  box-sizing: border-box;
  min-width: var(--token-orI1EuibBLCx);
  font-family: var(--token-pQu9TkTepku8);
  font-size: var(--token-wmyhDPhbDnho);
  line-height: var(--token-diA7F0y4l4y_);
  outline-style: none;
  text-decoration-line: none;
  border-radius: var(--token-oaaKbqPaayAz);
  padding: 0rem;
  border-width: 0px;
}
.root[data-focus-visible]:global(.__wab_instance) {
  outline-style: solid;
  outline-width: var(--token-HFZyTvdeGXne);
  outline-offset: 1px;
  outline-color: var(--token-aWpkhgHLd49s);
}
.root[data-disabled]:global(.__wab_instance) {
  cursor: not-allowed;
}
.rootcolor_neutral:global(.__wab_instance) {
  background: var(--token-sU2h1cEAVPzW);
}
.rootcolor_muted:global(.__wab_instance) {
  background: var(--token-PeLhsdAhQRrx);
}
.rootcolor_success:global(.__wab_instance) {
  background: var(--token-stJGtjExTXES);
}
.rootcolor_warning:global(.__wab_instance) {
  background: var(--token-EBkBVJM9vkaJ);
}
.rootcolor_errorDestructive:global(.__wab_instance) {
  background: var(--token-WrZnunx7To0p);
}
.roottype_soft:global(.__wab_instance) {
  background: none;
}
.roottype_bordered:global(.__wab_instance) {
  background: none;
}
.rootsize_extraSmall:global(.__wab_instance) {
  line-height: var(--token-C370Lb85Toou);
  font-size: var(--token-aZkKtTXiijFg);
  column-gap: var(--token-HFZyTvdeGXne);
  row-gap: 0px;
  border-radius: var(--token-r0ftipy3r87y);
}
.rootsize_small:global(.__wab_instance) {
  font-size: var(--token-aZkKtTXiijFg);
  line-height: var(--token-C370Lb85Toou);
  column-gap: var(--token-r0ftipy3r87y);
  row-gap: 0px;
  border-radius: var(--token-r0ftipy3r87y);
}
.rootsize_large:global(.__wab_instance) {
  font-size: var(--token-FFFdCm5SXIYO);
  line-height: var(--token-y69BL4eiTyp1);
}
.rootsize_extraLarge:global(.__wab_instance) {
  font-size: var(--token-FFFdCm5SXIYO);
  line-height: var(--token-y69BL4eiTyp1);
}
.rootroundedFull:global(.__wab_instance) {
  border-radius: 99px;
}
.rootflatSide_top:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-top-left-radius: 0rem;
}
.rootflatSide_right:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.rootflatSide_bottom:global(.__wab_instance) {
  border-bottom-right-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.rootflatSide_left:global(.__wab_instance) {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.softBackground {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  background: var(--token-d1KO_R7huA57);
  border-radius: var(--token-oaaKbqPaayAz);
}
.softBackgroundcolor_neutral {
  background: var(--token-sbEVIWrcZ_ds);
}
.softBackgroundcolor_muted {
  background: var(--token-bcbamhqH_w2J);
}
.softBackgroundcolor_success {
  background: var(--token-oHaFHIvQeIgr);
}
.softBackgroundcolor_warning {
  background: var(--token-lV5-5S2jNPvE);
}
.softBackgroundcolor_errorDestructive {
  background: var(--token-pA239jKuelqE);
}
.softBackgroundtype_soft {
  display: block;
}
.roottype_bordered[data-hovered] .softBackgroundtype_bordered {
  display: block;
}
.roottype_bordered[data-pressed] .softBackgroundtype_bordered {
  display: block;
}
.softBackgroundroundedFull {
  border-radius: 99px;
}
.border {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  border-radius: var(--token-oaaKbqPaayAz);
  border: 0px solid var(--token-QQ8XB8vmiuXL);
}
.bordercolor_neutral {
  border-color: var(--token-96IM7_E9mnqW);
}
.bordercolor_muted {
  border-color: var(--token-vmmY0WTFByCL);
}
.bordercolor_success {
  border-color: var(--token-BunZQzx_v68p);
}
.bordercolor_warning {
  border-color: var(--token-ghzKaZJl5Jvb);
}
.bordercolor_errorDestructive {
  border-color: var(--token-Kk1K-Y0_84Dl);
}
.bordertype_bordered {
  background: none;
  display: block;
  border-width: 1px;
}
.borderroundedFull {
  border-radius: 99px;
}
.borderflatSide_top {
  border-top-left-radius: 0rem;
  border-top-right-radius: 0rem;
}
.borderflatSide_right {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.borderflatSide_bottom {
  border-bottom-left-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.borderflatSide_left {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.interactionEffect {
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  border-radius: var(--token-oaaKbqPaayAz);
}
.root[data-hovered] .interactionEffect {
  background: var(--token-xd9PGEXye7KJ);
}
.root[data-disabled] .interactionEffect {
  background: var(--token-KN-pi_9SHExO);
}
.root[data-pressed] .interactionEffect {
  background: var(--token-Qzj1XlU0W10-);
}
.roottype_bordered[data-hovered] .interactionEffecttype_bordered {
  display: none;
}
.interactionEffectroundedFull {
  border-radius: 99px;
}
.freeBox__tfcQq {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  column-gap: var(--token-oaaKbqPaayAz);
  min-width: 0;
  min-height: 0;
  padding: var(--token-oaaKbqPaayAz) var(--token-smxGxMeHq15j);
}
.freeBoxsize_extraSmall__tfcQq5UhS2 {
  padding: var(--token-r0ftipy3r87y) var(--token-oaaKbqPaayAz);
}
.freeBoxsize_small__tfcQQqPCwY {
  padding: var(--token-oaaKbqPaayAz) var(--token-orI1EuibBLCx);
}
.freeBoxsize_large__tfcQq0Yw0 {
  padding-top: var(--token-r0ftipy3r87y);
  padding-bottom: var(--token-r0ftipy3r87y);
}
.freeBoxsize_extraLarge__tfcQQd4MlH {
  padding-left: var(--token-rEHvRXJxai5L);
  padding-right: var(--token-rEHvRXJxai5L);
}
.freeBoxroundedFull__tfcQq3RgIo {
  padding-right: var(--token-rEHvRXJxai5L);
  padding-left: var(--token-rEHvRXJxai5L);
}
.freeBox__ycfU1 {
  flex-direction: column;
  flex-shrink: 0;
  display: none;
}
.freeBoxiconStart__ycfU1QvLhs {
  display: flex;
}
.slotTargetStart {
  color: var(--token-PWPilfE_7SOx);
}
.slotTargetStartcolor_neutral {
  color: var(--token-0_9mNrZS52zm);
}
.slotTargetStartcolor_muted {
  color: var(--token--ZpnNF-8idk-);
}
.slotTargetStartcolor_success {
  color: var(--token-Q8uHddnj15vY);
}
.slotTargetStartcolor_warning {
  color: var(--token-G1E9IT-yyfe-);
}
.slotTargetStartcolor_errorDestructive {
  color: var(--token-yRhITSxkaz5y);
}
.slotTargetStarttype_soft {
  color: var(--token-kMrL39FqtHRQ);
}
.slotTargetStarttype_bordered {
  color: var(--token-kMrL39FqtHRQ);
}
.slotTargetStartsize_extraSmall {
  font-size: var(--token-aZkKtTXiijFg);
}
.slotTargetStartsize_small {
  font-size: var(--token-aZkKtTXiijFg);
}
.slotTargetStartsize_large {
  font-size: var(--token-FFFdCm5SXIYO);
}
.slotTargetStartsize_extraLarge {
  font-size: var(--token-FFFdCm5SXIYO);
}
.slotTargetStarttype_soft_color_neutral {
  color: var(--token-1qDMSXbO-qsz);
}
.slotTargetStarttype_bordered_color_neutral {
  color: var(--token-1qDMSXbO-qsz);
}
.slotTargetStarttype_soft_color_muted {
  color: var(--token-AJcok6asCFfT);
}
.slotTargetStarttype_bordered_color_muted {
  color: var(--token-AJcok6asCFfT);
}
.slotTargetStartcolor_success_type_soft {
  color: var(--token-Pkdo9M9IKQPQ);
}
.slotTargetStartcolor_success_type_bordered {
  color: var(--token-Pkdo9M9IKQPQ);
}
.slotTargetStarttype_soft_color_warning {
  color: var(--token-n9bHU-cCujsJ);
}
.slotTargetStarttype_bordered_color_warning {
  color: var(--token-n9bHU-cCujsJ);
}
.slotTargetStarttype_soft_color_errorDestructive {
  color: var(--token-M_ESJc4L0mjY);
}
.slotTargetStarttype_bordered_color_errorDestructive {
  color: var(--token-M_ESJc4L0mjY);
}
.svg__t1UFf {
  position: relative;
  height: 1em;
  flex-shrink: 0;
}
.slotTargetLabel {
  color: var(--token-PWPilfE_7SOx);
}
.slotTargetLabelcolor_neutral {
  color: var(--token-0_9mNrZS52zm);
}
.slotTargetLabelcolor_muted {
  color: var(--token--ZpnNF-8idk-);
}
.slotTargetLabelcolor_success {
  color: var(--token-Q8uHddnj15vY);
}
.slotTargetLabelcolor_warning {
  color: var(--token-G1E9IT-yyfe-);
}
.slotTargetLabelcolor_errorDestructive {
  color: var(--token-yRhITSxkaz5y);
}
.slotTargetLabeltype_soft {
  color: var(--token-kMrL39FqtHRQ);
}
.slotTargetLabeltype_bordered {
  color: var(--token-kMrL39FqtHRQ);
}
.slotTargetLabeltype_soft_color_neutral {
  color: var(--token-1qDMSXbO-qsz);
}
.slotTargetLabeltype_soft_color_muted {
  color: var(--token-AJcok6asCFfT);
}
.slotTargetLabeltype_bordered_color_neutral {
  color: var(--token-1qDMSXbO-qsz);
}
.slotTargetLabelcolor_success_type_soft {
  color: var(--token-Pkdo9M9IKQPQ);
}
.slotTargetLabeltype_bordered_color_muted {
  color: var(--token-AJcok6asCFfT);
}
.slotTargetLabeltype_soft_color_warning {
  color: var(--token-n9bHU-cCujsJ);
}
.slotTargetLabelcolor_success_type_bordered {
  color: var(--token-Pkdo9M9IKQPQ);
}
.slotTargetLabeltype_soft_color_errorDestructive {
  color: var(--token-M_ESJc4L0mjY);
}
.slotTargetLabeltype_bordered_color_warning {
  color: var(--token-n9bHU-cCujsJ);
}
.slotTargetLabeltype_bordered_color_errorDestructive {
  color: var(--token-M_ESJc4L0mjY);
}
.text___5Szl1 {
  white-space: pre;
}
.freeBox__ztCm8 {
  flex-direction: column;
  flex-shrink: 0;
  display: none;
}
.freeBoxiconEnd__ztCm8Som1Y {
  display: flex;
}
.slotTargetEnd {
  color: var(--token-PWPilfE_7SOx);
}
.slotTargetEndcolor_neutral {
  color: var(--token-0_9mNrZS52zm);
}
.slotTargetEndcolor_muted {
  color: var(--token--ZpnNF-8idk-);
}
.slotTargetEndcolor_success {
  color: var(--token-Q8uHddnj15vY);
}
.slotTargetEndcolor_warning {
  color: var(--token-G1E9IT-yyfe-);
}
.slotTargetEndcolor_errorDestructive {
  color: var(--token-yRhITSxkaz5y);
}
.slotTargetEndtype_soft {
  color: var(--token-kMrL39FqtHRQ);
}
.slotTargetEndtype_bordered {
  color: var(--token-kMrL39FqtHRQ);
}
.slotTargetEndsize_extraSmall {
  font-size: var(--token-aZkKtTXiijFg);
}
.slotTargetEndsize_small {
  font-size: var(--token-aZkKtTXiijFg);
}
.slotTargetEndsize_large {
  font-size: var(--token-FFFdCm5SXIYO);
}
.slotTargetEndsize_extraLarge {
  font-size: var(--token-FFFdCm5SXIYO);
}
.slotTargetEndtype_soft_color_neutral {
  color: var(--token-1qDMSXbO-qsz);
}
.slotTargetEndtype_bordered_color_neutral {
  color: var(--token-1qDMSXbO-qsz);
}
.slotTargetEndtype_soft_color_muted {
  color: var(--token-AJcok6asCFfT);
}
.slotTargetEndtype_bordered_color_muted {
  color: var(--token-AJcok6asCFfT);
}
.slotTargetEndcolor_success_type_soft {
  color: var(--token-Pkdo9M9IKQPQ);
}
.slotTargetEndcolor_success_type_bordered {
  color: var(--token-Pkdo9M9IKQPQ);
}
.slotTargetEndtype_soft_color_warning {
  color: var(--token-n9bHU-cCujsJ);
}
.slotTargetEndtype_bordered_color_warning {
  color: var(--token-n9bHU-cCujsJ);
}
.slotTargetEndtype_soft_color_errorDestructive {
  color: var(--token-M_ESJc4L0mjY);
}
.slotTargetEndtype_bordered_color_errorDestructive {
  color: var(--token-M_ESJc4L0mjY);
}
.svg__vaRcL {
  position: relative;
  height: 1em;
  flex-shrink: 0;
}
